#submitForm{
  margin-left: auto;
  margin-right: auto;
}

#submitForm td:first-child{
  color: black;
  border: 1px solid black;
  font-weight: bold;
  font-size: 10pt;
  width: 80px;
}

#submitForm textarea{
  width: 292px;
  height: 60px;
}

#submitForm input{
  width: 244px;
}

#submitForm input[type=submit]{
  width: 43px;
}

#submitForm input[type=checkbox]{
  width: auto;
}

#submitForm input[type=file]{
  width: 214px;
}

#submitForm span{
  font-size: 13px;
}

#submitForm tr{
  width: 323px;
  margin: 0px;
}

table{
  border-spacing: 1px;
}

form{
  text-align: center;
}
