.thread .post img {
  max-width: 125px;
  max-height: 125px;
  float: left;
  margin-top: 3px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.thread .post video {
  max-width: 125px;
  max-height: 125px;
  float: left;
  margin-top: 3px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.post {
  display: table;
  padding: 2px;
  padding-top: 5px;
  border: 1px solid black;
  border-top: none;
  border-left: none;
  margin-top: 4px;
  width: auto;
  min-height: 46px;
  padding-left: 15px;
  padding-right: 20px;
  padding-bottom: 16px;
}

.post:target{
  border: 1px solid black;
  border-top: none;
  border-left: none;
}

li::before{
  content: ">>";
  position: relative;
  right: 32px;
  color: #B7C5D9;
}

.post p{
  margin-left: -15px;
}

.post .threadComment{
  display: inline-block;
  margin-left: 20px;
}

.post .threadComment a{
  color: #D00;
  text-decoration: underline;
}
