body{
  font-family: arial,helvetica,sans-serif;
  font-size: 10pt;
}

.utils a{
  text-decoration: none;
}

.greentext{
  color: #789922;
}

#title{
  text-align: center;
  width: 100%;
  font-family: tahoma, sans-serif;
  letter-spacing: -2px;
}

#announcements{
  color: red;
  text-align: center;
}

#headerImage{
  width: 100%;
  text-align: center;
}

#headerImage img{
  border: 1px solid black;
}

.boardlist .home{
  float: right;
}

.boardlist a{
  font-size: 9pt;
  text-decoration: none;
}

.thread ul{
  padding: 20px;
  margin-top: 0px;
}

.post ul{
  padding: 0px;
  margin-top: 0px;
}

a{
  cursor: pointer;
}

a:hover{
  text-decoration: none;
}

hr{
  border: none;
  border-top: 1px solid black;
  width: 100%;
  height: 0px;
  margin-top: 7px;
  margin-bottom: 7px;
}

#footer {
  clear: left;
}

#credits{
  text-align: center;
  font-size: 7pt;
}

.thread .sticky img{
  margin: 0px;
  float: inherit;
}

.thread .closed img{
  margin: 0px;
  float: inherit;
}

#closedMessage{
  color: red;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
