.thread img {
  max-width: 250px;
  max-height: 250px;
  float: left;
  margin-right: 40px;
  margin-left: 16px;
  margin-top: 3px;
  margin-bottom: 10px;
  cursor: pointer;
}

.thread video{
  max-width: 250px;
  max-height: 250px;
  float: left;
  margin-right: 40px;
  margin-left: 16px;
  margin-top: 3px;
  margin-bottom: 10px;
}

.thread {
  display: table;
  border-top: none;
  border-left: none;
  width: 100%;
}

#posts{
  padding: 0px;
}

.thread a{
  text-decoration: none;
}

#threads{
  padding: 0px;
}

.threadSubject{
  display: inline;
  font-weight: bold;
  color: #0F0C5D;
}

.threadName{
  display: inline;
  font-weight: bold;
  color: #117743;
}

.threadReply{
  display: inline;
}

.threadComment{
  display: inline;
}

.info{
  font-size: 10pt;
  color: #707070;
}
